body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f49c18;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 60px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}
